:root{
    --colorheader:rgb(114, 114, 42);
    --favoritecolor:#212;
}

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    background-color: rgb(121, 57, 57);
}

.container{
    display: flex;
    gap: 40px;
    justify-content: center;
}

.container .caja{

    padding: 40px;
    background-color: white;
    border: 3px solid black;
}