{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>Base</title>
</head>
<body>

    <div class="TheHeader">
        <h1>Welcome to the Django base!</h1>
    </div>
    <br><br><br>
    
    <header>
        <div class="nav-left">

            <h1><a href="{% url 'home' %}">My blog</a></h1>
        </div>
      
    </header>
    

    {% block content %}
        
    {% endblock content %}
        
</body>
</html>

