{% extends 'base.html' %}

{% load static %}


{% block content %}
    

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <title>Main page</title>
    </head>
    <body>
        
        <h1>Welcome Home!</h1>
        <br><br><br><br>
        <a href="{% url 'about' %}">Go to about Page!</a>
        
       
    </body>
    </html>

{% endblock content %}