
:root{
 --yellowcolor: #e0bd21;
 --titlefontsize: 30px;
 --title2fontsize: 19px;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
background-color: #e0bd21;
}

.header {

    background-color: #f92;
    height: 80px;
}

.main .main_container{
 background-color: rgb(131, 52, 131)
}