 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    background-color: aliceblue;
    height: 50px;
    padding: 1em;
    grid-area: header;

        font-family: "Besley", serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
      
}

.description{
    grid-area: description;
    background-color: yellow;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em;
    height: 6em;
}

.themain{
    background-color: #afdb5e9f;
    grid-area: main;
    padding: 1.5em;
    
}

.sidebar{
    background-color: peru;
    grid-area: side;
    margin-left: 0.5em;
}

body{
    height: 100%;
    margin: 1em;
    background-color: #a19e9ce3;
    display: grid;
    grid-template-rows: 4, auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "header header header" 
                        "description  description description" 
                        "main main  side"
                        "notech tech side"; 
}
.licontainer{
    overflow-y: hidden;
}
.theabilities{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    height: 20em;
    overflow-y: hidden;
}

{
}

.abilities > .technical{
}

.theabilities:hover {
    overflow-y: scroll;
}

.theabilities:hover::-webkit-scrollbar {
    -webkit-appearance: none;
}

.theabilities:hover::-webkit-scrollbar:vertical {
    width:10px;
}

.theabilities:hover::-webkit-scrollbar-button:increment,.theabilities::-webkit-scrollbar-button {
    display: none;
} 

.theabilities:hover::-webkit-scrollbar:horizontal {
    height: 10px;
}

.theabilities:hover::-webkit-scrollbar-thumb {
    background-color: #aa4141;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.theabilities:hover::-webkit-scrollbar-track {
    border-radius: 10px;
}